<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="content="text/html; charset=UTF-8"">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>registroCategoria</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

</head>

<body>
<header>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <a class="nav-link" th:href="@{/Categoria/listar}">Listado de Categorias</a>
      </li>
      
    </ul>
  </div>
</nav>

<main role="main">
	<hr>
	<div class="container">
		<div class="card">
			<h4 class="card-header"><strong>Fromulario de Registro </strong></h4>
			<div class="card-body">
				<form th:action="@{/Categoria/crearCategoria}" method="post">

					<div class="form-group">
						<label for="exampleInputEmail1">Id Categoria</label>
						<input type="number" class="form-control" id="idCategoria" name="idCategoria"
							placeholder="ingrese un id para la categoria" min="100" max="1000">
					</div>


					<div class="form-group">
						<label for="colFormLabel" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Nombre" name="Nombre"
								placeholder="Ingrese el nombre">
						</div>
					</div>



					<div class="form-group">
						<label for="exampleInputEmail1">Estado</label>
						<input type="number" class="form-control" id="Estado" name="Estado"
							placeholder="ingrese un Estado para la categoria">
					</div>




					<br>
					<button type="submit" class="btn btn-primary">Crear</button>
				</form>
			</div>
		</div>

	</div>

</main>





</header>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>